<div>
    <div class="descricao">
        <h3>AAP 03 - HTML com Background</h3>
        <p>Com base no projeto da AAP02, aplique um background na página. Pode ser uma imagem ou cor de plano de fundo.</p>
    </div>
    <hr>
</div>

<div id="aap3" class="atividade">
    <header id="header-aap2">
        <h2 style="flex: 1; text-align: center">A História do World Wide Web (WWW)</h2>
        <a href="https://spaceinvaders.viperfish.com.au/"><img src="components/images/alien.png" width= 60px height=40px alt="Alien" style="padding-right: 20px;"></a>
    </header>
    <div>
        <uL>
            <li>
                O <strong>World Wide Web (WWW)</strong>, ou simplesmente "Web", foi inventado em 1989 pelo cientista britânico <strong>Tim Berners-Lee</strong>, enquanto trabalhava no CERN (Organização Europeia para a Pesquisa Nuclear). Ele propôs um sistema de gerenciamento de informações para facilitar o compartilhamento de documentos científicos entre pesquisadores de todo o mundo.
            </li>
            <br>
            <li>
                Berners-Lee desenvolveu três tecnologias fundamentais que ainda são usadas hoje: <strong>HTML</strong> (Hypertext Markup Language), <strong>HTTP</strong> (Hypertext Transfer Protocol), e <strong>URLs</strong> (Uniform Resource Locators). O primeiro site foi lançado em 1991, explicando o que era a Web e como usá-la. Inicialmente, o WWW era utilizado para conectar documentos científicos, mas rapidamente se expandiu para incluir uma vasta gama de informações e serviços.
            </li>
            <br>
            <li>
                A Web cresceu exponencialmente na década de 1990, à medida que o desenvolvimento de navegadores como o Mosaic e o Netscape facilitou o acesso ao conteúdo para o público geral. Hoje, o WWW é uma parte integral da internet, conectando bilhões de usuários e oferecendo informações, comunicação e entretenimento.
            </li>
        </uL>
    </div>
</div>