<div>
    <div class="descricao">
        <h3>AAP 09 - Projeto CV com Script <button class="toggle-button" data-target="explicacao">&#9654;</button></h3>
        <div id="explicacao" class="hidden">
            <p>Com base no projeto anterior de AAP, que consistiu na criação de um currículo com as seguintes seções:</p><br>
            <ol >
                <li>Foto</li>
                <li>Nome completo</li>
                <li>Objetivo profissional</li>
                <li>Formação acadêmica</li>
                <li>Formação complementar (cursos de curta duração)</li>
                <li>Experiências profissionais</li>
                <li>Informações relevantes (por exemplo: disponibilidade para início imediato, veículo próprio, inglês fluente, etc)</li>
            </ol><br>
            <p><strong>A proposta desta tarefa é evoluir o projeto, agregando alguns scripts (livre escolha).</strong></p>
            <p class="paragrafo-descricao">Utilize <strong>JavaScript (por exemplo)</strong> para tornar a página interativa de alguma forma (para mostrar ou ocultar informações, ou alterar o tema da página, ou até explorar conceitos de acessibilidade para mudar o contraste da página). Vou deixar inclusive um exemplo: <a href="http://github.com/cristianodmtsb/acessibilidade">http://github.com/cristianodmtsb/acessibilidade</a></p>
            <p class="paragrafo-descricao">O currículo deve ser organizado de forma que seja facilmente legível, utilizando uma combinação de textos, imagens e elementos de estilo (CSS).</p>
        </div>
    </div>
    <hr>
</div>

<div id="aap9" class="atividade">
    <div class="campo" id="nome"><h1>Giovanni Abrami Rodrigues Camargo</h1></div>
    <div class="campo" id="infos">
        <span>Brasileiro, Solteiro, 26/12/1995, (15) 98811-6650, Rua Brigadeiro Jordão, 6 , 1 andar - Centro, Tatuí - SP, CEP 18270-830, gioabrami@gmail.com</span>
    </div>
    <div class="campo" id="apresentacao">
        <h2>Apresentação</h2>
        <p>Formado em ciências biológicas, hoje mudando de área para a Gestão da Tecnologia da Informação. Tenho experiência com administração, atendimento ao público e trabalho em equipe. Possuo habilitação AB. Meu atual objetivo é adquirir mais experiência com Desenvolvimento, seguindo a rotina de uma empresa grande.</p>
    </div>
    <div class="campo" id="formacao">
        <h2>Formação</h2>
        <ul>
            <li>(2023 - atual) FATEC Tatuí - Gestão da Tecnologia da Informação</li>
            <li>(2014 - 2019) USP Ribeirão Preto - Ciências Biológicas</li>
            <li class="subtopico">Formação com ênfase na área ambiental</li>
            <li>(2007 - 2013) Colégio Objetivo Tatuí</li>
        </ul>
    </div>
    <div class="campo" id="foto">
        <img src="components/images/Profile.jpeg" alt="Foto de Perfil">
        <!-- <div class="icones">
            <img src="#" alt="Easter egg" class="icone">
            <img src="#" alt="Easter egg" class="icone">
            <img src="#" alt="Easter egg" class="icone">
            <img src="#" alt="Easter egg" class="icone">
        </div> -->
    </div>
    <div class="campo" id="experiencia">
        <h2>Experiência</h2>
        <ul>
            <li>(dez/2022 - atual) Consultoria de TI - ACRESP - SP</li>
            <li class="subtopico">Acompanhamento do desenvolvimento de sistema próprio da empresa, organização e classificação de documentos da empresa, auxílio na implementação do sistema novo, com treinamento e feedbacks dos usuários, bem como auxílio na aquisição e instalação de novos equipamentos</li>
            <li>(ago/2021 - jun/2022) Auxiliar Administrativo - Borracharia Pneu 400 - Tatuí</li>
            <li class="subtopico">Pedido de orçamentos, compras, controle de estoque, atendimento ao público, elaboração de relatório mensal, execução e recebimento de notas fiscais, abertura e fechamento de caixa.</li>
            <li>(nov/2020 - fev/2021) Recepcionista - Hostel Caiçara - São Sebastião - <i>Voluntário</i></li>
            <li class="subtopico">Recepcionar hóspedes, fazer check-in e check-out, atendimento presencial e virtual, abertura e fechamento de caixa e controle de estoque.</li>
            <li>(set/2019 - out/2020) Auxiliar Administrativo - Cervejaria Comendador - Tatuí</li>
            <li class="subtopico">Pedido de orçamentos, controle de estoque, atendimento a clientes, controle de pedidos e recebimentos, elaboração de relatório mensal, execução e recebimento de notas fiscais.</li>        
        </ul>
    </div>
    <div class="campo" id="projetos">
        <h2>Projetos / Extensões</h2>
        <ul>
            <li>(set/2022) Python e TDD: explorando testes unitários - Alura</li>
            <li>(jul/2022) Python e Orientação a Objeto - Alura</li>
            <li>(jul/2022) Git e Github: repositório, commit e versões - Alura</li>
            <li>(jul/2018) Técnico de Laboratório de Curso de Biologia Marinha - <i>Voluntário</i></li>
            <li class="subtopico">Curso de 8 dias em Ubatuba com alunos do 2º EM. Coleta de animais marinhos, educação ambiental, experimentos em laboratório.</li>
            <li>(2003 - 2010) Membro ativo do Movimento Escoteiro</li>
            <li class="subtopico">Movimento que estimula crianças e adolescentes em habilidades como liderança, trabalho em equipe, disciplina, raciocínio, senso crítico, respeito e sobrevivência.</li>
        </ul>
    </div>
    <div class="campo" id="habilidades">
        <h2>Habilidades</h2>
        <ul>
            <li>M. Word - Intermediário</li>
            <li>M. Excel - Intermediário</li>
            <li>M. Powerpoint - Intermediário</li>
        </ul>
    </div>
    <div class="campo" id="idiomas">
        <h2>Idiomas</h2>
        <ul>
            <li>Inglês - Intermediário</li>
            <li>Espanhol - Básico</li>
        </ul>
    </div>
</div>
<div id="nota-rodape">
    <p>Professor, visto que o projeto já possui scripts para a troca de páginas no menu lateral, para mostrar e ocultar a descrição de cada AAP e a troca de tema, adicionada na última atualização, preferi manter o currículo da forma que ele já estava mesmo nessa última atividade.</p>
</div>

