<div>
    <div class="descricao">
        <h3>AAP 01 - Conceitos Iniciais <button class="toggle-button" data-target="explicacao">&#9654;</button></h3>
        <div id="explicacao" class="hidden">
            <p>Faça uma pesquisa e responda de forma individual:</p>
            <ul style="list-style-type: none">
                <li>O que é front-end e quais são suas principais tecnologias.</li>
                <li>O que é back-end e quais são suas principais tecnologias.</li>
                <li>Como o front-end e o back-end interagem em uma aplicação web.</li>
            </ul>
        </div>
    </div>
    <hr>
</div>

<div class="atividade" style="background-color: white; color: black;">
    <p>
    Front-end é a parte do programa que interage diretamente com o usuário. São as telas do
    programa com todo o desing e funcionalidades (como botões, menus, etc). As tecnologias
    mais utilizadas são o HTML, CSS e JavaScript, essas também são as tecnologias mais
    simples, possuindo outras ferramentas mais poderosas e complexas no mercado.
    </p>
    <p>
    Back-end funciona por trás dos panos do Front-end, ele é responsável por gerenciar acessos
    e autenticação dos usuários, regras de negócio da aplicação e a interação com o banco de
    dados. Grandes ferramentas atualmente são o Java, PHP, Python e Node.js
    </p>
    <p>
    A interação deles em uma aplicação web segue a sequência de que o usuário interage com o
    front-end, esse por sua vez passa as requisições para o back-end, que por sua vez processa
    a requisição e devolve uma resposta para o front-end. Em seguida o front-end atualiza sua
    interface com a resposta para o usuário.
    </p>
</div>