<div>
    <div class="descricao">
        <h3>AAP 02 - HTML <button class="toggle-button" data-target="explicacao">&#9654;</button></h3>
        <div id="explicacao" class="hidden">
            <p>Nesta atividade, iniciaremos os projetos de desenvolvimento web. A partir daqui, todos os projetos seguirão um formato incremental até a conclusão da disciplina.</p>
            <p>Sua tarefa é criar uma página HTML que conte a história da World Wide Web (WWW). Sinta-se à vontade para usar uma estrutura de tópicos e listas ordenadas conforme necessário e explore a inclusão de imagens no seu código.</p>
        </div>
    </div>
    <hr>
</div>

<div id="aap2" class="atividade">
    <header id="header-aap2">
        <h2 style="flex: 1; text-align: center">A História do World Wide Web (WWW)</h2>
        <a href="https://spaceinvaders.viperfish.com.au/"><img src="components/images/alien.png" width= 60px height=40px alt="Alien" style="padding-right: 20px;"></a>
    </header>
    <ul>
        <li>
            O <strong>World Wide Web (WWW)</strong>, ou simplesmente "Web", foi inventado em 1989 pelo cientista britânico <strong>Tim Berners-Lee</strong>, enquanto trabalhava no CERN (Organização Europeia para a Pesquisa Nuclear). Ele propôs um sistema de gerenciamento de informações para facilitar o compartilhamento de documentos científicos entre pesquisadores de todo o mundo.
        </li>
        <br>
        <li>
            Berners-Lee desenvolveu três tecnologias fundamentais que ainda são usadas hoje: <strong>HTML</strong> (Hypertext Markup Language), <strong>HTTP</strong> (Hypertext Transfer Protocol), e <strong>URLs</strong> (Uniform Resource Locators). O primeiro site foi lançado em 1991, explicando o que era a Web e como usá-la. Inicialmente, o WWW era utilizado para conectar documentos científicos, mas rapidamente se expandiu para incluir uma vasta gama de informações e serviços.
        </li>
        <br>
        <li>
            A Web cresceu exponencialmente na década de 1990, à medida que o desenvolvimento de navegadores como o Mosaic e o Netscape facilitou o acesso ao conteúdo para o público geral. Hoje, o WWW é uma parte integral da internet, conectando bilhões de usuários e oferecendo informações, comunicação e entretenimento.
        </li>
    </ul>
</div>
