<div>
    <div class="descricao">
        <h3>AAP 07 - Projeto CV <button class="toggle-button" data-target="explicacao">&#9654;</button></h3>
        <div id="explicacao" class="hidden">
            <p>Crie uma página HTML contendo um currículo de sua autoria.</p><br>
            <p>Sugestões de campos:</p>
            <ul >
                <li>- Foto;</li>
                <li>- Nome completo;</li>
                <li>- Objetivo profissional;</li>
                <li>- Formação acadêmica (pode colocar a Fatec e outros títulos se houver);</li>
                <li>- Formação complementar (cursos de curta duração);</li>
                <li>- Experiências profissionais;</li>
                <li>- Informações relevantes: (ex: inicio imediato, veículo próprio, inglês fluente, etc);</li>
            </ul>
            <p>Não há um padrão, o design é livre. No entanto a ideia é explorar conceitos de CSS - principalmente.</p>
        </div>
    </div>
    <hr>
</div>

<div id="aap8" class="atividade">
    <div class="campo" id="nome">Nome</div>
    <div class="campo" id="formacao">Formação</div>
    <div class="campo" id="foto">Foto</div>
    <div class="campo" id="experiencia">Experiência</div>
    <div class="campo" id="extra">Extra</div>
</div>