<div>
    <div class="descricao">
        <h3>AAP 04 - Tabelas <button class="toggle-button" data-target="explicacao">&#9654;</button></h3>
        <div id="explicacao" class="hidden">
            <p>Com base no projeto anterior, crie uma nova página HTML com uma <strong>tabela com os cursos da Fatec Tatuí e o período dos cursos oferecidos (Você pode consultar o site da Fatec para visualizar essa informação)</strong></p>
            <p>Feito a tabela, crie um hyperlink para navegar entre a página da tabela e a página da Arpanet. Você pode usar o comando "a href" e nomear o arquivo como "fatec.htlm" e o outro de "arpanet.html" - deve ser possível navegar de um para o outro com LINK.</p>
        </div>
    </div>
    <hr>
</div>

<div id="aap4" class="atividade">
    <h2 style="margin-bottom: 20px;">Tabela de Cursos e Horário da Fatec Tatuí</h2>
    <table>
        <tr>
            <th>Cursos</th>
            <th>Matutino</th>
            <th>Vespertino</th>
            <th>Noturno</th>
        </tr>
        <tr>
            <td>Análise e Des. Sistemas</td>
            <td> - </td>
            <td>Disponível</td>
            <td> - </td>
        </tr>
        <tr>
            <td>Automação Industrial</td>
            <td>Disponível</td>
            <td> - </td>
            <td>Disponível</td>
        </tr>
        <tr>
            <td>Gestão de TI</td>
            <td>Disponível</td>
            <td> - </td>
            <td>Disponível</td>
        </tr>
        <tr>
            <td>Gestão Empresarial</td>
            <td> - </td>
            <td>Disponível</td>
            <td>Disponível</td>
        </tr>
        <tr>
            <td>Manutenção Industrial</td>
            <td>Disponível</td>
            <td> - </td>
            <td>Disponível</td>
        </tr>
        <tr>
            <td>Processos Gerenciais</td>
            <td> - </td>
            <td>Disponível</td>
            <td> - </td>
        </tr>
        <tr>
            <td>Produção Fonográfica</td>
            <td> - </td>
            <td>Disponível</td>
            <td> - </td>
        </tr>
    </table>
    <a href="https://www.fatectatui.edu.br/site4/index.php" 
        style=" font-size: 10px;
                color: whitesmoke;
                text-decoration: none;">Mais informações</a>
</div>