<!-- <div id="desculpas">
    <a href="#" onclick="loadPage('components/pages/aap04.html')">
        <h2>URGENTE!!</h2>
        <p>Peço desculpas por perder o prazo de entrega da AAP 4, ela já esta pronta no menu correspondente</p>
    </a>
</div> -->

<div id="pagina_inicial">
    <h2>AAP - Programação para Internet</h2>
    <p>As <strong>Atividades de Autodesenvolvimento e Práticas</strong> são parte da metodologia de ensino e são projetadas para que os alunos desenvolvam competências práticas por meio de atividades independentes e práticas aplicadas. Elas geralmente complementam as aulas teóricas, permitindo que os alunos explorem e consolidem os conhecimentos adquiridos ao longo da disciplina.</p>
    <br>
    <h2>Sobre a disciplina:</h2>
    <div>
        <span>Docente: Rafael de Sa Mascarenhas</span>
        <ul style="list-style-type: none;">
            <li>Carga horária:</li>
                <p>80 aulas + 40 de AAP</p>
            <li>Objetivo:</li>
                <p>Entender e aplicar conceitos de desenvolvimento de sistemas para internet bem como os padrões,técnicas e ferramentas associados. Desenvolver aplicativo previamente especificado.</p>
            <li>Ementa:</li>
                <p>Tecnologias e Padrões de navegadores. Arquitetura de aplicações para Internet. Programação do lado Cliente e seus padrões. Construção de páginas dinâmicas e interativas. Acesso a banco de dados através de uma linguagem de programação. Construção de uma GUI (Graphical User Interface) para um aplicativo de banco de dados. Modelagem Visualização e Controle (Model View Controller) e outros. Programação do lado servidor: conhecimento de uma linguagem e padrões. Controle de sessões, cookies, request/response e conexão com BD.</p>
        </ul>
    </div>
</div>
